@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

body {
  font-family: 'League Spartan', 'sans-serif';
  background: url('../images/bg-header-mobile.svg') center top no-repeat;
  background-size: contain; 
}

.section {
  min-height: 100vw;
  position: relative;
}

@media (min-width: 1000px) {
  body {
    background-image: url('../images/bg-header-desktop.svg');
    background-position: center top; 
    background-size: contain; 
  }
}